{% extends 'musicbeats/basic.htm' %}
{% block title %}MusicBeats{% endblock %}

{% block body %}
{% load static %}

<style>
    /* Custom CSS for responsive design */
    @media (max-width: 768px) {
        .card {
            max-width: 100%;
        }
    }

    /* Card styling */
    .card {
        margin-bottom: 20px;
        border: 1px solid #ddd; /* Light gray border */
        border-radius: 10px;
        transition: transform 0.3s;
        overflow: hidden;
    }

    .card:hover {
        transform: translateY(-5px); /* Move the card up slightly on hover */
    }

    .card img {
        max-width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .card-body {
        padding: 20px;
    }

    /* Text styling */
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333; /* Dark gray text color */
    }

    .card-text {
        color: #666; /* Medium gray text color */
    }

    /* Button styling */
    .btn {
        padding: 5px 15px;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #dc3545; /* Red color on hover */
        color: #fff; /* White text color on hover */
    }

    /* Empty state message */
    .empty-state {
        text-align: center;
        padding-top: 5%;
        color: #333; /* Dark gray text color */
    }

</style>

<h1 style="color: rgb(255, 255, 255); text-align: center;">HISTORY</h1>

{% if history|length < 1 %}
    <h3 class="empty-state">You have no videos in your history</h3>
{% endif %}

<div class="container">
    {% for i in history reversed %}
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{i.image}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">Tags: {{i.tags}}</p>
                    <p class="card-text">Movie: {{i.movie}}</p>
                    <a href="/musicbeats/songs/{{i.song_id}}" class="btn btn-outline-danger">Listen Song</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
