{% extends 'musicbeats/basic.htm' %}
{% block title %}All Songs{% endblock %}

{% block body %}

{% if message %}
<script>
    Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '{{ message }}',
        showConfirmButton: false,
        timer: 1500
    })
</script>
{% endif %}

<div class="container" style="margin-top: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="{{ song.image }}" alt="" class="img-fluid hover-img" style="border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        </div>
        <div class="col-md-6">
            <h2 style="padding-top: 2%; font-weight: 550; color: green;">Title: {{ song.name }}</h2>
            <h5 style="padding-top: 1%; font-weight: 550;">Category: {{ song.tags }}</h5>
            <h5 style="padding-top: 1%; font-weight: 550;">Movie: {{ song.movie }}</h5>
            <h5 style="padding-top: 1%; font-weight: 550;">Singer: {{ song.singer }}</h5>
            <h5 style="padding-top: 1%; font-weight: 550;">Credit: <a href="{{ song.credit }}" target="blank_">Click here</a></h5>

            <audio controls style="padding-top: 1%;">
                <source src="/media/{{ song.song }}" type="audio/mp3">
            </audio>

            <div style="padding-top: 1%;">
                <div class="row" style="padding-left: 3%;">
                    <form action="/musicbeats/watchlater" method="POST">{% csrf_token %}
                        <input type="hidden" name="video_id" value="{{ song.song_id }}">
                        <button type="submit" class="btn btn-outline-danger">Add to Listen Later</button>
                    </form>
                    <a download href="/media/{{ song.song }}" style="padding-left: 1%;"><button class="btn btn-outline-danger">Download Song</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Custom CSS for hover effect */
    .hover-img {
        transition: transform 0.2s;
    }

    .hover-img:hover {
        transform: scale(1.05);
    }

    /* Custom CSS for hover effect on buttons */
    .btn-outline-danger:hover,
    .btn-outline-danger:focus {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
</style>

{% endblock %}
